  <div class="horizontal-scroll" >
  <div class="form-group select-page-size-wrap ">
  <div class="add-row-editable-table" style="padding-left:10px; padding-top: 5px;">
  <button class="btn btn-primary" ng-click="addOrder()" >添加订单</button>
</div>
    <label>每页显示数量
      <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
              ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25]">
      </select>
    </label>
  </div>
  
  <table class="table" st-table="smartTableDataDisplay" st-safe-src="smartTableData">
    <thead>
    <tr class="sortable ">
      <th class="table-id" st-sort="id" st-sort-default="true"></th>
      <th st-sort="description">订单描述</th>
      <th st-sort="deliveryDate">订单时间</th>
      <th st-sort="customer">客户名称</th>
      
    </tr>
    <tr>
      <th></th>
      <th><input st-search="description" placeholder="搜索订单描述" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="deliveryDate" placeholder="搜索时间" class="input-sm form-control search-input"
                 type="search"/></th>
      <th><input st-search="customer" placeholder="搜索客户名称" class="input-sm form-control search-input"
                 type="search"/></th>
      <th >操作
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in smartTableDataDisplay" >
      <td class="table-id">{{item.id}}</td>
      <td>{{item.description}}</td>
      <td>{{item.deliveryDate | date:"yyyy-MM-dd h:mma"}}</td>
      <td>{{item.customer}}</td>
      
      <td><button class="btn btn-primary editable-table-button btn-xs" ng-click="editOrder(item._links.self.href)">编辑</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeOrder(item._links.self.href)">删除</button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<script type="text/ng-template" id="myModalContent.html">
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only"  >Close</span></button>
        <h4 class="modal-title" id="myModalLabel">添加订单信息</h4>
      </div>
      <form class="form-horizontal" method="post">
      <div class="modal-body">
          <div class="row form-group">
          <label for="description" class="col-sm-2 control-label">订单描述</label>
          <div class="col-sm-10">
            <input type="text" ng-model="OrderObj.description" class="form-control ng-pristine ng-valid" id="description" >
          </div>
          </div>
          <div class="row form-group">
          <label for="deliveryDate" class="col-sm-2 control-label">订单时间</label>
          <div class="col-sm-10" ng-controller="datepickerpopupCtrl">             
              <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="OrderObj.deliveryDate" is-open="opened"  close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="deliveryDate"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>          
          </div>

          </div>
         <div class="ng-cloak" >
            <div class="row form-group">
              <label for="username" class="col-sm-2 control-label">客户名称</label>
              <div class="col-sm-10">
                  <ui-select ng-model="withSearchItem.selected" id="withSearchItem"
                       class="btn-group bootstrap-select form-control "
                       ng-disabled="false"
                       <!-- 将下面的指设为false，才能在模态框正常显示 -->
                       append-to-body="false"
                       search-enabled="true">
                      <ui-select-match placeholder="Select With Search">
                        {{$select.selected.label}}
                      </ui-select-match>
                      <ui-select-choices
                          repeat="withSearchItem in selectWithSearchItems | filter: $select.search">
                        <span ng-bind-html="withSearchItem.label"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
            </div>
          </div>
          <div class="row form-group">
             <div class="col-md-12">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <button type="button" id="btn" class="btn btn-primary" ng-click="addneworderitem()">添加新订单项</button>
                </div>
              </div>
          </div>
          <!-- OrderItem 列表 -->
          <table class="table" st-table="smartTableDataOrderItemDisplay" st-safe-src="smartTableDataOrderItem">
            <thead>
            <tr class="sortable ">
              <th class="table-id" st-sort="id" st-sort-default="true"></th>
              <th st-sort="name">名称</th>
              <th st-sort="price">价格</th>
              <th st-sort="amount">数量</th>
              
            </tr>
            <tr>
              <th></th>
              <th><input st-search="name" placeholder="搜索名称" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="price" placeholder="搜索价格" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="amount" placeholder="搜索数量" class="input-sm form-control search-input"
                         type="search"/></th>
              <th ng-show="smartTableDataOrderItemDisplay.length">操作
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in smartTableDataOrderItemDisplay" >
              <td class="table-id">{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.amount}}</td>
              
              <td><button class="btn btn-primary editable-table-button btn-xs" ng-click="editOrderItem(item.id)">编辑</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeOrderItem(item.id)">删除</button></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
          
          <div class="row form-group" ng-show="isadd">
            <label for="itemname" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.name" class="form-control ng-pristine ng-valid" id="itemname" >
            </div>
          </div>

          <div class="row form-group" ng-show="isadd">
            <label for="itemprice" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.price" class="form-control ng-pristine ng-valid" id="itemprice" >
            </div>
          </div>

          <div class="row form-group" ng-show="isadd">
            <label for="itemamount" class="col-sm-2 control-label">数量</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.amount" class="form-control ng-pristine ng-valid" id="itemamount" >
            </div>
          </div>
          <div class="row form-group" ng-show="isadd">
            <div class="col-md-8">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"  ng-click="hide()">Close</button>
              <button type="button" id="btn" class="btn btn-primary"  ng-click="saveOrderItem(OrderItem.id)">保存</button>
            </div> 
          </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
        <button type="button" id="btn" class="btn btn-primary" ng-click="saveorder()">保存</button>
      </div>
      </form>
    </div>
</script>


<script type="text/ng-template" id="myModalEditContent.html">
<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only"  >Close</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑订单信息</h4>
      </div>
      <form class="form-horizontal" method="post">
      <div class="modal-body">
          <div class="row form-group">
          <label for="firstName" class="col-sm-2 control-label">订单描述</label>
          <div class="col-sm-10">
            <input type="text" ng-model="OrderObj.description" class="form-control ng-pristine ng-valid" id="description" >
          </div>
          </div>
          <div class="row form-group">
          <label for="lastName" class="col-sm-2 control-label">订单时间</label>
          <div class="col-sm-10" ng-controller="datepickerpopupCtrl">             
              <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="OrderObj.deliveryDate" is-open="opened"  close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" id="deliveryDate" placeholder="{{OrderObj.deliveryDate | date:'yyyy/MM/dd'}}" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>          
          </div>

          </div>
         <div class="ng-cloak" >
            <div class="row form-group">
              <label for="username" class="col-sm-2 control-label">客户名称</label>
              <div class="col-sm-10">
                  <ui-select ng-model="withSearchItem.selected" id="withSearchItem"
                       class="btn-group bootstrap-select form-control "
                       ng-disabled="false"
                       <!-- 将下面的指设为false，才能在模态框正常显示 -->
                       append-to-body="false"
                       search-enabled="true">
                      <ui-select-match placeholder="Select With Search">
                        {{$select.selected.label}}
                      </ui-select-match>
                      <ui-select-choices
                          repeat="withSearchItem in selectWithSearchItems | filter: $select.search">
                        <span ng-bind-html="withSearchItem.label"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
            </div>
          </div>
      <div class="row form-group">
             <div class="col-md-12">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                  <button type="button" id="btn" class="btn btn-primary" ng-click="addneworderitem()">添加新订单项</button>
                </div>
              </div>
          </div>
          <!-- OrderItem 列表 -->
          <table class="table" st-table="smartTableDataOrderItemDisplay" st-safe-src="smartTableDataOrderItem">
            <thead>
            <tr class="sortable ">
              <th class="table-id" st-sort="id" st-sort-default="true"></th>
              <th st-sort="name">名称</th>
              <th st-sort="price">价格</th>
              <th st-sort="amount">数量</th>
              
            </tr>
            <tr>
              <th></th>
              <th><input st-search="name" placeholder="搜索名称" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="price" placeholder="搜索价格" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input st-search="amount" placeholder="搜索数量" class="input-sm form-control search-input"
                         type="search"/></th>
              <th ng-show="smartTableDataOrderItemDisplay.length">操作
              </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in smartTableDataOrderItemDisplay" >
              <td class="table-id">{{item.iddd}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.amount}}</td>
              
              <td><button class="btn btn-primary editable-table-button btn-xs" ng-click="editOrderItem(item.id)">编辑</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeOrderItem(item.id)">删除</button></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
          
          <div class="row form-group" ng-show="isadd">
            <label for="itemname" class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.name" class="form-control ng-pristine ng-valid" id="itemname" >
            </div>
          </div>

          <div class="row form-group" ng-show="isadd">
            <label for="itemprice" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.price" class="form-control ng-pristine ng-valid" id="itemprice" >
            </div>
          </div>

          <div class="row form-group" ng-show="isadd">
            <label for="itemamount" class="col-sm-2 control-label">数量</label>
            <div class="col-sm-10">
              <input type="text" ng-model="OrderItem.amount" class="form-control ng-pristine ng-valid" id="itemamount" >
            </div>
          </div>
          <div class="row form-group" ng-show="isadd">
            <div class="col-md-8">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"  ng-click="hide()">Close</button>
              <button type="button" id="btn" class="btn btn-primary"  ng-click="saveOrderItem(OrderItem.id)">保存</button>
            </div>           
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
        <button type="button" id="btn" class="btn btn-primary" ng-click="saveorder()">保存</button>
      </div>
      </form>
    </div>
</script>




