<div ng-controller="TablesPageCtrl">
   <!-- 这里就是控制器的内容 ,然后直接在控制器里面插入modal的页面元素-->
   <!--  <script type="text/ng-template" id="myModalContent.html"> -->
        <!-- <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div> -->
   <!--  </script> -->

    <!-- <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->



     <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only"  >Close</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑用户信息</h4>
      </div>
      <form class="form-horizontal" method="post">
      <div class="modal-body">
          <div class="row form-group">
          <label for="firstName" class="col-sm-1 control-label">姓</label>
          <div class="col-sm-11">
            <input type="text" ng-model="UserObj.firstName" class="form-control ng-pristine ng-valid" id="firstName" >
          </div>
          </div>
          <div class="row form-group">
          <label for="lastName" class="col-sm-1 control-label">名</label>
          <div class="col-sm-11">
            <input type="text" ng-model="UserObj.lastName" class="form-control ng-pristine ng-valid" id="lastName">
          </div>
          </div>

          <div class="row form-group">
          <label for="username" class="col-sm-1 control-label">用户名</label>
          <div class="col-sm-11">
            <input type="text" ng-model="UserObj.username" class="form-control ng-pristine ng-valid" id="username">
          </div>
          </div>
          <div class="row form-group">
          <label for="age" class="col-sm-1 control-label">年龄</label>
          <div class="col-sm-11">
            <input type="text" ng-model="UserObj.age" class="form-control ng-pristine ng-valid" id="age">
          </div>
          </div>
           <div class="row form-group">
          <label for="email" class="col-sm-1 control-label">邮箱</label>
          <div class="col-sm-11">
            <input type="text" ng-model="UserObj.email" class="form-control ng-pristine ng-valid" id="email">
          </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
        <button type="button" id="btn" class="btn btn-primary" ng-click="saveuser()">保存</button>
      </div>
      </form>
    </div>
</div>